<!DOCTYPE html>
<html>
    <head th:replace="layouts :: head (pageTitle = 'Add Project')"></head>
    <body>
        <main class="container-fluid" id="main">
            <div th:replace="layouts :: sidebar" class="col-3"></div>

            <div class="container col-9 main-content">
                <h1>Add Project</h1>

                <form th:action="@{/project/save}" method="POST" th:object="${project}">
                    <div class="form-group">
                        <label class="mb-2">Project Name </label>
                        <input class="form-control" type="text" th:field="${project.name}" required/>
                    </div>
    
                    <div class="form-group">
                        <label class="mb-2">Description </label>
                        <textarea class="form-control" th:field="${project.description}"/>
                    </div>
                    <br>
                    <div class="form-group">
                        <label class="mb-2">Status </label>
                        <select class="form-control mb-3" th:field="${project.status}" required>
                            <option th:value="In-progress">In-Progress</option>
                            <option th:value="Completed">Completed</option>
                        </select>
                    </div>
                    <br>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary col-5 m-3">Add</button>
                        <button type="reset" class="btn btn-danger col-5 m-3" onclick="location.href='/project/home'">Discard</button>
                    </div>
                </form>
                
            </div>
        </main>
    </body>
</html>