main {
    display: flex;
}

h1 {
    margin: 1.5rem 0;
}

.sidebar {
    height: 100vh;
    position: sticky;
    top: 0px;
}

.container-fluid {
    padding-left: 0px;
}

.task-cards {
    display: flex;
}

#addtask_button {
    position: fixed;
    top: 2rem;
    right: 4rem;
}